:root {
  --Bg-Color-: #434a54;
  --Bg-Card-Color-: #656d78;
  --Bg-Header: hsl(29, 63%, 92%);

  --Color-: #f6f7fa;
  --Color-Dark: #2d3239;

  --Hover-white: #ccc;
  --effect-Color: orange;

  --Filter-droppdown-shadow: var(--Color-Text-Card-) 0.3rem 0.3rem;
  --Borader-radius: 0.5rem;
  --Margin-inlinge: 0.5rem;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  width: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: var(--Bg-Color-);
  color: var(--Color-);
  letter-spacing: 0.12rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.colum-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  gap: 4rem;
}

h2 {
  text-align: center;
  font-size: 3rem;
  color: var(--effect-Color);
}

input,
button {
  padding: 1rem;
  border-radius: var(--Borader-radius);
  border: none;
}
input {
  margin-right: 0.3rem;
}

button {
  background-color: var(--effect-Color);
  color: var(--Color-Dark);
  cursor: pointer;
  margin-bottom: 1.5rem;
}

button:hover {
  background-color: rgb(248, 209, 137);
}

.task-container {
  border-radius: var(--Borader-radius);
  width: 100%;
}

.single-task-container {
  background-color: var(--Color-);
  color: var(--Color-Dark);
  border-radius: var(--Borader-radius);
  padding: 1rem;
  width: 100%;
  max-width: 24rem;
  word-wrap: break-word;
  overflow: hidden;
  text-align: left;
  margin-bottom: 0.5rem;
}

h4 {
  padding: 0.6rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

::selection {
  color: var(--effect-Color);
  background-color: #2d3239;
}

@media (max-width: 750px) {
  .colum-container {
    margin-top: 4rem;
  }
  .single-task-container:hover {
    transform: scale(1.2);
    text-align: center;
  }
}
